<!DOCTYPE html>
<html>

<% include partials/head.ejs %>

<body>

    <% include partials/navbar.ejs %>

    <div class="contenido_ggral">
  
        <div class="encabezado_asis">
            <div class="ico_asis_asistencia">
            </div>
            <div class="tit_asis_ppal">
               <span class="titulo_content">Asistencia:</span><br>
            </div>
        </div>          
         
        <div>           
            <div class="caja_central">

                <span class="titulo_caja">Tomar asistencia:</span><br><br>
           
                <form action="/manageAttendance" method="POST" enctype="multipart/form-data">           
                    <span>Curso:</span><br>

                    <!-- cambiar, debe ser dropdown list con lista de cursos -->
                    <input class="campo_captura" type="text" name="name" id="coursename"><br>               
                    
                    <span>Etiqueta registro:</span><br>
                    <span class="explicacion_pequeña">Si la etiqueta ya fue utilizada, 
                        solo se añadiran las personas presentes en la nueva foto a las anteriormente registradas.</span><br>
                    <input class="campo_captura" type="text" name="label" id="picturelabel"><br>   
                    
                    <span>Foto:</span><br>
                    <input class="select_atta" type="file" name="picture" id="picture" accept="application/x-zip-compressed,image/*">
                    <br><br><br>
                    <div class="boton_enviar">         
                        <input class="boton_asist" type="submit" value="Enviar">
                    </div>            
                </form>      
           </div>
           
           <br><br><br><br>           
           <div></div>
        </div>        
    </div> 


    <!-- <h3>List of courses</h3>
    <ul>
        <% for (const course of courses) { %>
            <li>
                <%= course.name %>
             </li>
        <% } %>
    </ul>

    
    <h3>Attendances</h3>
    <table>
        <tr>
            <th>Course</th>
            <th>Label</th>
            <th>Date</th>
            <th>Students</th>
        </tr>
        <% for (const attendance of attendances) { %>
            <tr>
                <td><%= attendance.course %></td>
                <td><%= attendance.label %></td>
                <td><%= attendance.date %></td>
                <td>
                    <ul>
                        <% for (const student of attendance.students) { %>
                            <li> <%= student %> </li>                            
                        <% } %>
                    </ul>
                </td>
            </tr>
        <% } %>
    </table> -->

    <% include partials/bootstrap.ejs %>

    <% include partials/footer.ejs %>

</body>

</html>